/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Rubik&display=swap');

:root {
  font-family: 'Newsreader', serif;
  /* font-family: 'Rubik', sans-serif; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2b2b2b;

  --background-color-primary: #2b2b2b;
  --background-color-secondary: #131313;
  --background-color-tertiary: #5c5c5c;
  --font-color-primary: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}
